<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="js/angular-1.4.8.js"></script>
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/style.css" rel="stylesheet"/>


    <title>About</title>
</head>
<body>

<div class="container" ng-app="emailSender" ng-controller="aboutController">

    <div class="page-header">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Email Sender</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="javascript:void(0);" ng-click="home()">Home</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div>
        <p>This app gets a CSV file which contains email addresses, first name, and last name, and will send them
            email </p>
        <p>CSV File Format: </p>
        <p>"email@address.com" ; first_name ; last_name</p>
        <p>You can use below sample and save it into a .csv file</p>
        <br>"emadi@gmai" ; emad ; nikkhouy </br>
            "aliyi@gmail.com" ; ali ; nikkhouy </br>
            "emadi2@gmail.com" ; emad2 ; nikkhouy2</br>
            "aliyi2@gmail.com" ; ali2 ; nikkhouy2</br>
            "emadi3@gmail.com" ; emad3 ; nikkhouy3</br>
            "aliyi3@gmail.com" ; ali3 ; nikkhouy3</br>
            "emadi4@gmail.com" ; emad4 ; nikkhouy4</br>
            "aliyi4@gmail.com" ; ali4 ; nikkhouy4</br>
            "emadi5@gmail.com" ; emad5 ; nikkhouy5</br>
            "aliyi5@gmail.com" ; ali5 ; nikkhouy5</p>
        <p></p>
        <p>PS: the app does not actually send email to recipientList, rather it says if it managed to send email by just
            showing status</p>
    </div>


</div>


<script src="js/app.js"></script>
<script src="js/controllers.js"></script>
</body>
</html>