<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="js/angular-1.4.8.js"></script>
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/style.css" rel="stylesheet"/>


    <title>Email Sender</title>
</head>

<body>


<div class="container" ng-app="emailSender" ng-controller="controller">
    <div class="page-header">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Email Sender</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="javascript:void(0);" ng-click="about()">About</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div>
        <h2>Please read the about section for CSV file format then insert a CSV file... </h2>
    </div>
    <div>
        <h3 ng-model="header"><strong>Status: </strong>{{header}}</h3>
    </div>
    <div class="vertical-center">
        <input class="col-sm-3 input-lg" class="fbtn btn-primary btn-lg" type="file" file-model="myFile">
        <button ng-click="upload()" class="btn btn-primary btn-lg">Upload</button>
    </div>

</div>


<script src="js/app.js"></script>
<script src="js/directive.js"></script>
<script src="js/controllers.js"></script>
</body>
</html>