<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="js/angular-1.4.8.js"></script>
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/style.css" rel="stylesheet"/>

    <title>Email Sender</title>

</head>

<body>
<div class="container" ng-app="emailSender" ng-controller="resultController">

    <div class="page-header">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Email Sender</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="javascript:void(0);" ng-click="home()">Home</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div>
        <h2>List of Recipients</h2>

    </div>
    <div>
        <button ng-click="previous()" class="btn btn-primary btn-lg" ng-disabled="previousButton">Previous</button>
        <button ng-click="next()" class="btn btn-primary btn-lg" ng-disabled="nextButton">Next</button>
    </div>

    <table class="table table-striped" ng-table="recipientsTable">
        <thead>
        <tr>
            <th>Email Address</th>
            <th>Fist Name</th>
            <th>Last Name</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="x in recipients">
            <td>{{x.email}}</td>
            <td>{{x.firstName}}</td>
            <td>{{x.lastName}}</td>
            <td>{{x.status}}</td>
        </tr>
        </tbody>
    </table>

    <div>
        <button ng-click="previous()" class="btn btn-primary btn-lg" ng-disabled="previousButton">Previous</button>
        <button ng-click="next()" class="btn btn-primary btn-lg" ng-disabled="nextButton">Next</button>
    </div>
</div>


<script src="js/app.js"></script>
<script src="js/controllers.js"></script>
</body>
</html>